.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}



/* Header Styling */
.Header {
    text-align: left;
    margin: 1vh;
    background-color: #0055ff;
}

.Table {
    margin: auto;
    table-layout: fixed;
    width: auto;
    background-color: #0055ff;
}