

/*
This code is unused and bad
// TODO: get rid of this code (stuff in APP now)
*/
.Header {
    text-align: center;
    height: 10vh;
    background-color: #0055ff;
}

.Table {
    margin: auto;
    table-layout: fixed;
    width: auto;
    background-color: #0055ff;
}